.complex {
    padding-top: 140px;
    background: url("./images/main-back-1.png") center/cover;
    background-position: center 40px;
    min-height: 727px;

    &__descr {
        padding-top: 120px;
    }
}