.consultation {
    margin-top: -120px;
    border-radius: 64px 64px 0px 0px;
    position: relative;
    z-index: 10;
    background: $deep-blue;

    &__inner {
        padding: 120px 0 170px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    &__descr {
        max-width: 568px;
        padding-right: 20px;
    }

    &__title {
        color: $primary-color;
        font-size: 64px;
        font-weight: 600;
        line-height: 100%;
        margin-bottom: 32px;
    }

    &__text {
        color: $primary-color;
        font-family: $secondary-fonts;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        opacity: 0.8;
        margin-bottom: 80px;

    }

    &__social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        row-gap: 6px;
    }

    &__item {
        width: 50%;
        border-radius: 50px;
        background: $primary-color;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

    }

    &__link {
        padding: 10px 0;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        line-height: 160%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    &__form {
        max-width: 500px;
    }
}

@media (max-width: 1120px) {
    .consultation {
        &__title {
            font-size: 48px;
        }

        &__inner {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            row-gap: 40px;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        &__descr {
            padding-right: 0;
        }
    }

}

@media (max-width: 768px) {
    .consultation__inner {
        padding-bottom: 120px;
    }
}

@media (max-width: 475px) {
    .consultation {
        border-radius: 40px 40px 0 0;

        &__item {
            width: 100%;
        }

        &__title {
            font-size: 38px;
        }
    }
}