.footer {
    padding-top: 64px;
    padding-bottom: 88px;
    margin-top: -64px;
    position: relative;
    z-index: 10;
    border-radius: 64px 64px 0px 0px;
    background: linear-gradient(135.00deg, rgb(28, 39, 74) 0%, rgb(4, 7, 17) 100%);
}


.footer__contacts {
    margin-top: 16px;
    display: flex;
    column-gap: 8px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.footer__logo-box {
    display: flex;
    justify-content: center;
}

.footer__logo-wrapper {
    display: flex;
}

.footer__info,
.copy-right__info {
    display: block;
    text-decoration: none;
    color: $primary-color;
    opacity: 0.7;
    font-family: $secondary-fonts;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.footer__info-title,
.footer__info-tel {
    color: $primary-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 6px;
    text-decoration: none;
}

.footer__info-adress,
.footer__info-mail {
    max-width: 210px;
    color: $primary-color;
    opacity: 0.7;
    font-family: $secondary-fonts;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.footer__info-mail {
    font-size: 16px;
}

.footer__info-tel {
    font-size: 22px;
}

.footer__line {
    margin: 0 -15px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.footer__about {
    margin: 48px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__about-item {
    max-width: 25%;
    display: flex;
    flex-direction: column;


    .footer__info-title {
        margin-bottom: 16px;
    }

    .footer__info {
        margin-bottom: 10px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 0;
            bottom: 0;
            height: 2px;
            background: rgb(117, 117, 117);
            background: linear-gradient(-90deg, rgba(117, 117, 117, 0.11528361344537819) 0%, rgba(167, 167, 167, 0.3897934173669467) 46%, rgba(250, 250, 250, 0.5130427170868348) 100%);
            transition: width .4s ease;
        }

        &:hover::before {
            width: 100%
        }
    }
}

.footer__social {
    display: flex;
    justify-content: flex-end;
}

.footer__link {
    display: block;
    height: 44px;
    width: 44px;
    border-radius: 50px;
    cursor: pointer;
    background: hsla(0, 0%, 99%, 0.102);
    transition: all .3s ease-in-out;

    &:hover {
        margin: 2px;
        background-color: #145CEF;
        transform: scale3d(1.1);
    }
}

.ft-tg {
    position: relative;

    &::before {
        background: url('images/ft-tg.svg') 50% / contain no-repeat;
        content: "";
        height: 22px;
        width: 22px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

.ft-lk {
    position: relative;

    &::before {
        background: url('images/ft-lk.svg') 50% / contain no-repeat;
        content: "";
        height: 21px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 21px;
        z-index: 1;
    }
}

.ft-vk {
    position: relative;

    &::before {
        background: url('images/ft-vk.svg') 50% / contain no-repeat;
        content: "";
        height: 12px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        z-index: 1;
    }
}

.ft-in {
    position: relative;

    &::before {
        background: url('images/ft-in.svg') 50% / contain no-repeat;
        content: "";
        width: 17px;
        height: 16px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

.ft-hh {
    position: relative;

    &::before {
        background: url('images/ft-hh.svg') 50% / contain no-repeat;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        height: 24px;
        z-index: 1;
    }
}

.footer__copy-right {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.copy-right__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    &:first-child {
        max-width: 30%;

    }

    max-width: 70%;

}

.copy-right_accent {
    color: $accent-purple;
    font-weight: 600;
}

.mobile-desktop {
    display: none;
}

@media (max-width: 1120px) {

    .footer__info-title,
    .footer__info-mail {
        overflow-wrap: break-word;
    }

    .footer__title-wrapper.footer__info-title {
        overflow-wrap: normal;
    }

    .footer__logo {
        max-width: 240px;
    }

    .footer__logo-box {
        flex-wrap: wrap;
        row-gap: 20px;
    }


}

@media (max-width: 768px) {

    .footer {
        padding-bottom: 44px;
    }

    .footer__logo-wrapper {
        flex-wrap: wrap;
    }

    .footer__contacts {
        margin: 0;
    }

    .footer__logo-contacts {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .footer__logo-contacts.mobile-desktop {
        display: none;
    }

    .footer__about {
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 36px 0;
    }

    .footer__about-item {

        &:nth-child(1) {
            max-width: 50%;
        }

        &:nth-child(2) {
            max-width: 50%;
        }

        &:nth-child(3) {
            max-width: 33%;
            align-self: self-start;

        }

        &:nth-child(4) {
            max-width: 33%;
            align-self: self-start;
        }

        &:nth-child(5) {
            min-width: 33%;
            align-self: self-start;
            align-items: center;
            margin-left: 40px;
        }
    }

    .footer__info-tel,
    .footer__info-title {
        font-size: 16px;
    }

    .footer__link {
        width: 40px;
        height: 40px;
    }

    .footer__copy-right {
        margin-top: 24px;
    }
}

@media (max-width: 475px) {

    .footer {
        padding: 16px 0;
        border-radius: 40px 40px 0px 0px;
    }

    .footer__about-item {

        .footer__info-title {
            margin-bottom: 0;
        }
    }

    .footer__logo-contacts {
        margin-bottom: 0;

    }

    .footer__contacts {
        flex-wrap: wrap;
        border-radius: 32px;
        padding-top: 14px;

        background: rgba(252, 252, 252, 0.08);
    }

    .footer__logo-box {
        row-gap: 0;
    }

    .footer__logo {
        margin: 0 auto;
        padding-left: 50px;
    }

    .footer__line {
        display: none;
    }

    .footer__img-box {
        width: 100%;
        padding: 18px 0;
        border-bottom: 1px solid rgba(220, 221, 224, .12);
    }

    .footer__logo-wrapper {
        width: 100%;
    }

    .footer__logo-contacts {
        width: 100%;
        padding: 18px 0;
        border-bottom: 1px solid rgba(220, 221, 224, .12);
        align-items: center;
        text-align: center;

        &:last-child {
            border: 0;
        }
    }

    .footer__about-item {
        min-width: 100%;
    }

    .footer__info {
        &::before {
            display: none;
        }
    }

    .mobile-desktop-contacts {
        width: 100%;
        padding: 18px 0;
        border-bottom: 1px solid rgba(220, 221, 224, .12);
        align-items: center;
        text-align: center;
    }

    .footer__logo-contacts.mobile-desktop {
        display: flex;
    }

    .mobile-desktop {
        display: flex;
    }

    .laptop-desktop {
        display: none;
    }



    .footer__about-item {
        background: hsla(0, 0%, 99%, .08);
        border-radius: 32px;
        padding: 32px 24px;
    }

    .footer__info-title {
        font-size: 17px;
    }

    .footer__title-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .footer__title-arrow {
        display: block;
        width: 12px;
        height: 12px;
        background-image: url('./images/footer-arrow.svg');
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .footer__about-lists {
        margin-top: 16px;
    }

    .copy-right__item {
        max-width: 100%;

        &:first-child {
            max-width: 100%;
            width: 100%;
        }
    }

    .footer__copy-right {
        background: hsla(0, 0%, 99%, .08);
        border-radius: 32px;
        padding: 32px 24px;
        flex-direction: column;
        align-items: center;


    }

    .copy-right__info {
        padding: 16px 0;
        border-bottom: 1px solid hsla(225, 6%, 87%, .12);
    }
}