.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 780px;
    width: 100%;
    list-style: none;
    background: $primary-color;
    border-radius: 100px;
    padding: 16px 32px;
}

.nav__item {
    position: relative;
    margin-right: 32px;
}

.nav__link {
    color: $second-color;
    font-family: $secondary-fonts;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    white-space: nowrap;
    text-decoration: none;

}


.nav__link-wrapper {
    display: flex;
    align-items: center;
}

.nav__link-arrow {
    display: block;
    background: url('./images/footer-arrow.svg') center/cover no-repeat;
    width: 12px;
    height: 12px;
    margin-left: 12px;
    margin-bottom: 2px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    transform: rotate(180deg);
}

.is-show {
    display: none;
}

.nav__sublist {
    position: absolute;
    list-style: none;
    top: 50px;
    left: 0;
    z-index: 10;
}

.nav__sub-item {
    background: #d5e2fc;
    border-radius: 50px;
    margin-bottom: 2px;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    &:hover {
        background: -o-linear-gradient(315deg, rgb(28, 39, 74) 0%, rgb(4, 7, 17) 100%);
        background: linear-gradient(135.00deg, rgb(28, 39, 74) 0%, rgb(4, 7, 17) 100%);

        .nav__sub-link {
            -webkit-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            color: $primary-color;
        }
    }

}

.nav__sub-link {
    text-decoration: none;
    font-family: $secondary-fonts;
    color: $second-color;
    font-size: 14px;
    display: block;
    padding: 8px;
    text-wrap: nowrap;


}


.nav__lists-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav__lists-btn {
    padding: 8px;
    background-color: $primary-color;
    border-radius: 100px;
}

.nav__btn {
    padding: 10px 32px;
    border-radius: 50px;
    background: #d5e2fc;
    cursor: pointer;
    text-wrap: nowrap;
    border: none;
}


.nav__btn-resume {
    color: $deep-blue;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0%;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $deep-blue;
        color: $primary-color;
    }
}

.nav__btn-project {
    position: relative;
    background-color: $deep-blue;
    color: $primary-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0%;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding-right: 50px;

    &:hover {
        background-color: #d5e2fc;
        color: $deep-blue ;
    }

    &::before {
        content: '';
        position: absolute;
        top: 14px;
        right: 25px;
        width: 14px;
        height: 14px;
        background: url('./images/discussion.svg') center/cover no-repeat;
        z-index: 1;
        cursor: pointer;
    }
}

@media (max-width: 1120px) {
    .nav {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        row-gap: 10px;
    }
}

@media (max-width: 768px) {

    .nav__item {
        &:nth-child(5) {
            display: none;
        }

        &:nth-child(6) {
            display: none;
        }
    }

    .nav__lists {
        padding: 8px 16px;
    }

    .nav__lists-btn {
        display: none;

    }
}

@media (max-width: 475px) {

    .nav {
        &.is-open {
            display: none;
        }
    }

    .nav__lists {
        padding: 4px 12px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .nav__item {
        margin-right: 0;

        &:nth-child(2) {
            display: none;
        }

        &:nth-child(3) {
            display: none;
        }



    }

    .nav__sub-link {
        padding: 3px 5px;
        font-size: 9px;
    }

    .nav__sublist {
        top: 40px;
        left: -20px;
    }

}