.solution {
    background: -o-linear-gradient(315deg, rgb(28, 39, 74) 0%, rgb(4, 7, 17) 100%);
    background: linear-gradient(135.00deg, rgb(28, 39, 74) 0%, rgb(4, 7, 17) 100%);
    margin-top: -140px;
    border-radius: 0px 0px 64px 64px;
    position: relative;
    z-index: 11;

    &__inner {
        padding: 0 120px;
        position: relative;
        border-radius: 0px 0px 64px 64px;
        border: 1px solid #fff;
        overflow: hidden;

    }
}