.team {
    padding: 160px 0 120px;
    position: relative;

    background: url("./images/team-bg.png") center/cover;
    background-position: center 40px;
    margin-top: -160px;

}



.team__descr {
    padding-top: 160px;
    position: relative;
}

.accent-color_purple {
    color: $accent-purple;
}

.title__accent_purple {
    background-color: $accent-purple;
    font-size: 48px;
}

.team__btn {
    position: absolute;
    top: 160px;
    right: 0;
    cursor: pointer;
    z-index: 15;
}

@media (max-width: 1120px) {
    .team__btn {
        top: 100px;
    }
}